:root {
  --background-primary: #fafaff;
  --background-secondary: #e7e3f0;
  --background-card: color-mix(in hsl, var(--background-primary), var(--background-secondary) 35%);
  --foreground-primary: #30343f;
  --foreground-secondary: #1e2749;
  --link: #7b2cbf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #373941;
    --background-secondary: #1e1e1f;
    --foreground-primary: #fafaff;
    --foreground-secondary: #d3cedf;
    --link: #b170eb;
  }
}