footer {
  color: var(--foreground-secondary);
}

footer > div.flex {
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  footer > div.flex {
    flex-direction: column-reverse;
  }
}