@import url('./reset.css');
@import url('./vars.css');
@import url('./colors.css');

@import url('./header.css');
@import url('./footer.css');
@import url('./profile.css');
@import url('./card.css');
@import url('./hero.css');

body {
  background-color: var(--background-primary);
  color: var(--foreground-secondary);
  font-family: 'Inder', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: 'Heebo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: .02em;
  line-height: 1.1;
  color: var(--foreground-primary);
  font-weight: 700;
  margin: calc(.5em + (var(--spacing) / 2)) 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: var(--link);
  transition: 500ms;
}

nav a {
  font-family: 'Heebo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .05em;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

a:is(:hover, :focus) {
  transition: 0ms;
  color: var(--link);
  color: color-mix(in srgb, var(--link), var(--background-primary) 50%);
}

p {
  line-height: 1.4;
  margin: var(--spacing) 0 calc(var(--spacing) * 1.5);
}

img, video, figure {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

ul {
  list-style-position: inside;
}

hr {
  background-color: var(--background-primary);
  border: none;
  border-top: 0.5px solid currentColor;
  opacity: 0.25;
  margin: calc(var(--spacing) * 2) 0;
}

#content {
  padding: var(--spacing);
  flex-grow: 1;
}

.image-grid {
  display: grid;
  place-items: center;
  gap: var(--spacing);
  margin: var(--spacing) 0;
}

.image-grid p {
  text-align: center;
  margin: .5em 0 0;
}

.page-width {
  width: min(var(--page-width), 100%);
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.flex.justify {
  justify-content: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align {
  align-items: center;
}

.pad-xy {
  padding: var(--spacing);
}

.pad-x {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.pad-y {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.gap-1 {
  gap: var(--spacing);
}

.gap-2 {
  gap: calc(var(--spacing) * 2);
}

@media (max-width: 500px) {
  header .hide-sm {
    display: none;
  }

  .image-grid {
    grid-template-columns: 1fr !important;
  }

  .flex.row.collapse-sm {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  header .hide-md {
    display: none;
  }

  .flex.row.collapse-md {
    flex-direction: column;
  }
}