@import url('./reset.css');
@import url('./vars.css');
@import url('./colors.css');

@import url('./header.css');
@import url('./footer.css');
@import url('./profile.css');
@import url('./card.css');
@import url('./hero.css');

body {
  background-color: var(--background-primary);
  color: var(--foreground-secondary);
  font-family: 'Inder', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: 'Heebo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: .02em;
  line-height: 1.1;
  color: var(--foreground-primary);
  font-weight: 700;
  margin: calc(.5em + (var(--spacing) / 2)) 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  --px: 6px;
  --py: 4px;
  color: var(--link);
  transition: 300ms ease-out;
  border-style: solid;
  border-color: transparent;
  border-top-width: var(--py);
  border-bottom-width: var(--py);
  border-left-width: var(--px);
  border-right-width: var(--px);
  margin: calc(-1 * var(--py)) calc(-1 * var(--px));
  border-radius: var(--border-radius);
  background-color: transparent;
  text-decoration: none;
  letter-spacing: .03em;
}

p a {
  --px: 3px;
  --py: 3px;
  letter-spacing: inherit;
}

nav a {
  font-family: 'Heebo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .05em;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

a:is(:hover, :focus) {
  transition: 60ms ease-out;
  color: color-mix(in srgb, var(--link), var(--foreground-secondary) 50%);
  background-color: color-mix(in srgb, var(--link), transparent 90%);
  outline: none; /* resets default anchor styles */
}

p {
  line-height: 1.4;
  margin: var(--spacing) 0 calc(var(--spacing) * 1.5);
}

img, video, figure {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

ul {
  list-style-position: inside;
}

hr {
  background-color: var(--background-primary);
  border: none;
  border-top: 0.5px solid currentColor;
  opacity: 0.25;
  margin: calc(var(--spacing) * 2) 0;
}

#content {
  padding: var(--spacing);
  flex-grow: 1;
}

.image-grid {
  display: grid;
  place-items: center;
  gap: var(--spacing);
  margin: var(--spacing) 0;
}

.image-grid p {
  text-align: center;
  margin: .5em 0 0;
}

.page-width {
  width: min(var(--page-width), 100%);
  margin-left: auto;
  margin-right: auto;
}

button, a.button {
  display: block;
  background: color-mix(in srgb, var(--link), transparent 85%);
  background: linear-gradient(to top, color-mix(in srgb, var(--link), var(--background-secondary) 40%), color-mix(in srgb, var(--link), var(--background-secondary) 50%));
  color: var(--link);
  color: color-mix(in srgb, var(--link), var(--background-primary) 100%);
  padding: var(--spacing) calc(var(--spacing) * 1.5);
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  border: none;
  font-family: 'Heebo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .05em;
  outline: 1px solid var(--link);
  transition: 300ms ease-out;
  margin: 0; /* resets default anchor styles */
  box-shadow: 0 0.1rem 0.1rem color-mix(in srgb, var(--foreground-primary), transparent 95%);

  &:is(:active, :hover, :focus) {
    transition: 60ms ease-out;
    background: color-mix(in srgb, var(--link), transparent 70%);
    background: linear-gradient(to top, color-mix(in srgb, var(--link), var(--background-secondary) 40%), color-mix(in srgb, var(--link), var(--background-secondary) 30%));
    color: color-mix(in srgb, var(--link), var(--foreground-secondary) 50%);
    color: color-mix(in srgb, var(--link), var(--background-primary) 100%);
    outline-color: var(--link);
    box-shadow: -0.1rem 0.2rem 0.3rem color-mix(in srgb, var(--foreground-primary), transparent 80%);
  }
}

.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.flex.justify {
  justify-content: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align {
  align-items: center;
}

.pad-xy {
  padding: var(--spacing);
}

.pad-x {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.pad-y {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.gap-1 {
  gap: var(--spacing);
}

.gap-2 {
  gap: calc(var(--spacing) * 2);
}

@media (max-width: 500px) {
  header .hide-sm {
    display: none;
  }

  .image-grid {
    grid-template-columns: 1fr !important;
  }

  .flex.row.collapse-sm {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  header .hide-md {
    display: none;
  }

  .flex.row.collapse-md {
    flex-direction: column;
  }
}