<header class="pad-xy">
  <div class="flex justify-between align page-width">
    <div class="title flex align gap-1">
      <img src="/the-creature.gif" alt="The Creature smiling" class="crisp" >
      <div class="hide-sm">Creature Games</div>
    </div>
    <nav class="flex gap-1">
      {{ range .Site.Menus.main.Reverse }}
        <a href="{{ .URL }}">
          {{ $text := print .Name | safeHTML }}
          {{ $text }}
        </a>
      {{ end }}
    </nav>
  </div>
</header>