{{ define "main" }}
<main class="page-width flex col">
  <div class="flex col gap-1 pad-y">
    {{ .Content }}
  </div>
  <div class="flex col gap-2 ctr pad-y ">
    {{ range .Pages }}

      <section class="flex col gap-1">
        <h2>{{ .Name }}</h2>
        {{ if .IsNode }}
          <div class="flex col gap-2">
            {{ range .Pages }}
              <div class="flex col gap-1">
                <h3>{{ .Name }}</h3>
                {{ .Summary }}
                <a href="{{ .Permalink }}">Read More</a>
              </div>
            {{ end }}
          </div>

        {{ else }}
          <p>{{ .Summary }}</p>
          <a href="{{ .Permalink }}">Read More</a>

        {{ end }}
      </section>
    {{ end }}
  </div>
</main>
{{ end }}