{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <main class="page-width">
    {{- if or (eq .Section "games") (eq .Section "posts") -}}
      <h1>{{ .Title }}</h1>
    {{- end -}}
    {{- if eq .Section "posts" -}}
    <p style="opacity: .5">
      {{ .Date.Format "January 2, 2006" }} &ndash; {{ .Params.author }}
    </p>
      <hr>
    {{- end -}}
    {{ .Content }}
  </main>
{{ end }}