.card {
  background-color: var(--background-card);
  margin: var(--spacing) 0;
  padding: var(--spacing) calc(var(--spacing) * 1.2);
  border-radius: var(--border-radius);
}

.card > *:first-child {
  margin-top: 0;
}

.card > *:last-child {
  margin-bottom: 0;
}

.card .title {
  display: flex;
  gap: var(--spacing);
  justify-content: space-between;
  align-items: center;
}

.card .title a {
  font-size: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}