header {
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--clr-bg-2);
  color: var(--clr-fg-2);

  box-shadow: 2px 0 12px #0001;
}

header .title {
  font-family: 'Reem Kufi', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--clr-fg-1);
}

header > div {
  justify-content: space-between;
  align-items: center;
}

header img {
  width: auto;
  height: 2rem;
}

@media (prefers-color-scheme: dark) {
  header {
    box-shadow: 2px 0 12px #fff1;
  }
}

@media (max-width: 500px) {
  header img {
    height: 3rem;
  }
}