header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background-primary);
  color: var(--foreground-secondary);
}

.title {
  font-family: 'Reem Kufi', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--foreground-primary);
}

header img {
  width: auto;
  height: 2rem;
}

@media (max-width: 500px) {
  header img {
    height: 3rem;
  }
}