.profile {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  background-color: var(--clr-bg-2);
  padding: 1.5rem;
  border-radius: .5rem;
}

.profile img {
  width: 80px;
  height: auto;
  image-rendering: pixelated;
}

@media (max-width: 500px) {
  .profile {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
  }

  .profile img {
    width: 120px;
  }

  .profile .text {
    width: 100%;
  }
}