:root {
  --clr-bg-1: #dedce5;
  --clr-bg-2: #c5bdc7;
  --clr-fg-1: #231b29;
  --clr-fg-2: #3c383c;
  --clr-link: #5d2d72;
  --page-width: 48rem;
}

* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--clr-bg-1);
  color: var(--clr-fg-2);
  font-family: 'Inder', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: var(--clr-bg-2);
  color: var(--clr-fg-2);
}

h1, h2, h3 {
  font-family: 'Heebo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: .02em;
  color: var(--clr-fg-1);
  font-weight: 500;
}

a {
  transition: 500ms;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
}

nav a:hover {
  color: var(--clr-link);
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

p a {
  color: var(--clr-link);
}

a:hover {
  transition: 100ms;
  opacity: .7;
}

p {
  line-height: 1.6;
}

img {
  width: 100%;
}

figure {
  width: 100%;
  margin: 0;
}

ul {
  list-style-position: inside;
}

footer > div.flex {
  justify-content: space-between;
  align-items: center;
}

footer svg {
  height: 2rem;
  fill: currentColor;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

header .title {
  font-family: 'Reem Kufi', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--clr-fg-1);
}

header > div {
  justify-content: space-between;
  align-items: center;
}

header img {
  width: auto;
  height: 2rem;
}

#content {
  padding: 2rem;
  flex-grow: 1;
}

div.image-grid {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.profile {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  background-color: var(--clr-bg-2);
  padding: 1rem;
}

.profile img {
  width: 80px;
  height: auto;
  image-rendering: pixelated;
}

.page-width {
  width: min(var(--page-width), 100%);
  margin: auto;
}

.flex {
  display: flex;
}
.flex.col {
  flex-direction: column;
}
.flex.justify {
  justify-content: center;
}
.flex.align {
  align-items: center;
}

.pad-xy {
  padding: 1rem;
}
.pad-x {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pad-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}

@media (max-width: 500px) {
  #content {
    padding: 1rem;
  }

  header .title > div {
    display: none;
  }

  div.image-grid {
    grid-template-columns: 1fr !important;
  }

  footer > div.flex {
    flex-direction: column-reverse;
  }

  .profile {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
  }

  .profile img {
    width: 120px;
  }

  .profile .text {
    width: 100%;
  }
}